<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIAppFonts</key>
	<array>
		<string>BricolageGrotesque-Bold.ttf</string>
		<string>BricolageGrotesque-ExtraBold.ttf</string>
		<string>BricolageGrotesque-ExtraLight.ttf</string>
		<string>BricolageGrotesque-Light.ttf</string>
		<string>BricolageGrotesque-Medium.ttf</string>
		<string>BricolageGrotesque-Regular.ttf</string>
		<string>BricolageGrotesque-SemiBold.ttf</string>
	</array>
</dict>
</plist>
